@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
  margin: 3px;
}

.footer {
  display: flex;
  background-color: rgb(209, 209, 209);
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.left-links, .right-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  padding: 5px;
  margin: 5px;
  list-style-type: none;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

a {
  font-size: 14px;
  color: gray;
  font-weight: bold;
  text-decoration: none;
}